﻿@using KidInteractiveAdmin.Controllers
@model MultiChoiceDetail;
@{
    var count = 1;
}
@if (Model != null)
{
    <div class="row">
        <div class="col-md-4 multichoice_info" data-id="@Model.Multi.Id">
            <form role="form">
                <div class="col-12">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control _mul_tieu_de" value="@Model.Multi.Topic" placeholder="Tiêu đề">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Danh mục</label>
                        <input type="text" class="form-control _mul_danh_muc" value="@Model.Multi.Category" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Vị trí</label>
                        <input type="number" class="form-control _mul_order" value="@Model.Multi.Position" placeholder="Enter ...">
                    </div>
                </div>

                <div class="col-12">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="datetime" class="form-control _mul_bat_dau" value="@Model.Multi.StartDate" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Ngày kết thúc</label>
                        <input type="datetime" class="form-control _mul_ket_thuc" value="@Model.Multi.EndDate" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-12">
                    <!-- select -->
                    <div class="form-group _mul_trang_thai">
                        <label>Trạng thái</label>
                        <select class="form-control">
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Phân loại</label>
                        <select class="form-control _mul_phan_loai">
                            <option value="1">Văn hóa</option>
                            <option value="2">Lịch sử</option>
                            <option value="3">Địa lý</option>
                            <option value="4">Đời sống</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-8 questions_info">
            @foreach (var item in Model.QuestionDetails)
            {
                <div class="row question-item" data-id="@item.Question.Id">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Câu hỏi</label>@*<button class="remove-question">x</button>*@
                            <textarea class="form-control question_detail" rows="3" placeholder="Enter ...">@item.Question.Content</textarea>
                        </div>
                    </div>
                    @foreach (var i in item.Answers)
                    {
                        <div class="col-md-6 answer" data-id="@i.Id">
                            <label>Trả lời <span class="_identity"></span></label>
                            <div class="row" data-id="0">
                                <div class="col-md-10">
                                    <input type="text" value="@i.Content" class="form-control ans" data-id="@i.Id" data-position="1" placeholder="Trả lời" />
                                </div>
                                <div class="col-md-2">
                                    @{
                                        var _checked = "";
                                        if (i.IsCorrect == 1)
                                        {
                                            _checked = "checked";
                                        }
                                    }
                                    <input type="checkbox" class="isTrue" @_checked />
                                </div>
                            </div>
                        </div>

                    }
                    <div class="col-md-12"><hr /></div>
                    <div class="_binding_question_item"></div>


                </div>
            }
            <button class="_clone_question">+</button>
        </div>


    </div>
}
else
{
    <div class="row">
        <div class="col-md-4 multichoice_info" data-id="0">
            <form role="form">

                <div class="col-12">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control _mul_tieu_de" placeholder="Tiêu đề">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Danh mục</label>
                        <input type="text" class="form-control _mul_danh_muc" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Order</label>
                        <input type="number" class="form-control _mul_order" placeholder="Enter ...">
                    </div>
                </div>

                <div class="col-12">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Ngày bắt đầu</label>
                        <input type="datetime" class="form-control _mul_bat_dau" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Ngày kết thúc</label>
                        <input type="datetime" class="form-control _mul_ket_thuc" placeholder="Enter ...">
                    </div>
                </div>
                <div class="col-12">
                    <!-- select -->
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control _mul_trang_thai">
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group _mul_phan_loai">
                        <label>Phân loại</label>
                        <select class="form-control">
                            <option value="1">Văn hóa</option>
                            <option value="2">Lịch sử</option>
                            <option value="3">Địa lý</option>
                            <option value="4">Đời sống</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 questions_info">
            <div class="row question-item" data-id="0">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Câu hỏi</label>@*<button class="remove-question">x</button>*@
                        <textarea class="form-control question_detail" name="quesion_detail_0" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                </div>

                <div class="col-md-12 answer" data-id="0">
                    <label>Trả lời <span class="_identity"></span></label>
                    <div class="row" data-id="0">
                        <div class="col-md-10">
                            <textarea type="text" class="form-control ans" name="ans_detail_0" data-id="0" data-position="1" placeholder="Trả lời " />
                        </div>
                        <div class="col-md-2">
                            <input type="checkbox" class="isTrue" />
                        </div>
                    </div>
                </div>
                <div class="clone_answers"></div>
                <button class="btn btn-success btn-clone-ans">Add answers</button>


                <hr />
            </div>
            <div class="_binding_question_item"></div>
            <br /><br />
            <button class="_clone_question">+</button>

        </div>
    </div>
}
