@charset "UTF-8";
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato-Bold.ttf');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrap {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.some-list {
  color: #ececec;
}

.some-list .some-item {
  background: #6e599c1f;
  padding: 20px 30px 10px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 6px;
}

.some-list .some-item:last-of-type {
  margin-bottom: 0;
}

.some-list .some-item .item-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  line-height: 24px;
}

.some-list .some-item .item-header i {
  font-size: 14px;
  margin-right: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.some-list .some-item .item-header .header-title {
  font-weight: bold;
}
.header-title {
  color:#000000;
  font-family: Lato;
}
.item-message {
  display: flex;
}
.some-list .some-item .item-message {
    margin: 12px 0 0px;
    padding: 20px 0px 0px;
    border-top: 1px solid #82828278;
    font-family: Lato;
}

.some-list .some-item .item-message .my-message {
  font-size: 16px;
  line-height: 22px;
  color: #858585;
}

.morecontent span {
  display: none;
}

.morelink {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  color: #6e599c;
  text-decoration: none;
}

.morelink:after {
  content: '';
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: 6px;
  margin-left: 10px;
  border: 1px solid #6e599c;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
  transform-origin: bottom;
}

.morelink.less:after {
  margin-left: 7px;
  transform: rotate(135deg);
}

