.DynarchCalendar-focused {
  background-color: #fff;
}




.DynarchCalendar-hover-title div,
.DynarchCalendar-hover-navBtn div { background-color: transparent; }


.DynarchCalendar-pressed-title div,
.DynarchCalendar-pressed-navBtn div { background-color: transparent; }



.DynarchCalendar-day-selected {
  background-color: #1864fc;
  color: #fff !important;
  background-position: 0 50%;
  background-repeat: repeat-x;
}

.DynarchCalendar-day-today.DynarchCalendar-day-selected {
  background-color: #1864fc;
  color: #fff !important;
}


