﻿
@{
    ViewData["Title"] = "FunPiano";
    Layout = "~/Views/Shared/_LayoutMultichoice.cshtml";
}
@section styles{
    <style>
        <style >
        * {
            box-sizing: border-box
        }

        body {
            margin: 0;
            background: #222
        }

        ul {
            height: 18.875em;
            width: 34em;
            margin: 5em auto;
            padding: 3em 0 0 3em;
            position: relative;
            border: 1px solid #160801;
            border-radius: 1em;
            background: linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
            box-shadow: 0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5)
        }

        li {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            float: center;
        }

        ul .white {
            height: 16em;
            width: 4em;
            z-index: 1;
            border-left: 1px solid #bbb;
            border-bottom: 1px solid #bbb;
            border-radius: 0 0 5px 5px;
            box-shadow: -1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
            background: linear-gradient(to bottom,#eee 0%,#fff 100%)
        }

            ul .white:active {
                border-top: 1px solid #777;
                border-left: 1px solid #999;
                border-bottom: 1px solid #999;
                box-shadow: 2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
                background: linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
            }

        .black {
            height: 8em;
            width: 2em;
            margin: 0 0 0 -1em;
            z-index: 2;
            border: 1px solid #000;
            border-radius: 0 0 3px 3px;
            box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
            background: linear-gradient(45deg,#222 0%,#555 100%)
        }

            .black:active {
                box-shadow: -1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
                background: linear-gradient(to right,#444 0%,#222 100%)
            }

        .a, .g, .f, .d, .c {
            margin: 0 0 0 -1em
        }

        ul li:first-child {
            border-radius: 5px 0 5px 5px
        }

        ul li:last-child {
            border-radius: 0 5px 5px 5px
        }
    </style>
}

<div id="binding_game">
    <button class="btn answerLetter" style="display: none;"></button>
</div>
<div id="binding_keyboard">
    <ul class="set">
        <li class="keyboardLetter" style="display: none;"></li>
    </ul>
    <!-- <button class="btn keyboardLetter" style="display: none;"></button> -->
</div>


@section scripts{ 
    <script>
        var R = {

            Init: function () {
                R.SecretKey = "ahahaha";
                R.MusicNote = [
                    {
                        Name: "do",
                        Url : "sound/do.wav"
                    },
                    {
                        Name: "re",
                        Url : "sound/re.wav"
                    },
                    {
                        Name: "mi",
                        Url: "sound/mi.wav"
                    },
                    {
                        Name: "fa",
                        Url: "sound/fa.wav"
                    },
                    {
                        Name: "sol",
                        Url: "sound/sol.wav"
                    },
                    {
                        Name: "do",
                        Url : "sound/do.wav"
                    },
                    {
                        Name: "re",
                        Url : "sound/re.wav"
                    },
                    {
                        Name: "mi",
                        Url: "sound/mi.wav"
                    },
                    {
                        Name: "fa",
                        Url: "sound/fa.wav"
                    },
                    {
                        Name: "sol",
                        Url: "sound/sol.wav"
                    }
                ];
                    //R.DesignLayout();
                R.DesignKeyboard();
                R.RegisterEvent();
            },
            RegisterEvent: function () {
                $('.isKeyboardClone').off('click').on('click', function () {
                    var audio = new Audio($(this).data('url'));
                    audio.play();
                });

            },
            // DesignLayout: function () {
            //     var secret_key = R.SecretKey.toLowerCase();
            //     for (var i = 0; i < secret_key.length; i++) {
            //         var cloned = $('.answerLetter').last().clone();
            //         cloned.data("correctLetter", secret_key[i].toString());
            //         cloned.css("display", "inline-block");
            //         cloned.addClass("isClone");
            //         cloned.text("_");
            //         cloned.appendTo("#binding_game");
            //     }
            //     R.RegisterEvent();
            // },
            DesignKeyboard: function () {
                var note = R.MusicNote;
                for (var i = 0; i < note.length; i++) {
                    var cloned = $('.keyboardLetter').last().clone();
                    cloned.addClass("isKeyboardClone");
                    cloned.addClass("white");
                    cloned.addClass("a");

                    cloned.data('url',note[i].Url);
                    cloned.text(note[i].Name.toString());
                    cloned.css("display", "inline-block");
                    cloned.appendTo('.set');
                }
                R.RegisterEvent();

            },
            CheckWinner: function () {
                var a = $('.suprise').length;
                if (a == R.SecretKey.length)
                    alert("Winner");

            }

        }
        R.Init();
    </script>
}

