﻿
@{
    ViewData["Title"] = "PictureView";
    Layout = "~/Views/Shared/_LayoutPicture.cshtml";

}
@model List<string>;
@if (Model != null)
    {
        var total = Model.Count;
        var count = 1;
        foreach (var item in Model)
        {
        <div class="slick-item">
            <img src="@item" style="width:100%; height:auto; max-width:100%" >
            @*<div class="text">Caption Text</div>*@
        </div>
        count++;
    }
}

