﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/extra/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/bsnav.min.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/fullpage.min.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/examples.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/fa-font.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/extra.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/extra/css/responsive.css" />
    @RenderSection("Styles", required: false);

    <script src="~/extra/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/extra/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="main-body-container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
