﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @*<script src="~/turnjs4/extras/jquery.min.1.7.js"></script>*@
    <link href="~/turnjs4/samples/basic/css/basic.css" rel="stylesheet" />
    <script type="text/javascript" src="~/turnjs4/extras/jquery.min.1.7.js"></script>
    <script src="~/turnjs4/lib/turn.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/modernizr.2.5.3.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/lib/hash.js"></script>
    <style>
        .page-item img{
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
        .page-item{
            overflow-y: scroll;
        }
    </style>

    @*<script src="~/turnjs4/samples/basic/js/basic.js"></script>*@
</head>
<body>

    <div class="flipbook-viewport">
        <div class="container">
            <div class="flipbook">
                @RenderBody()
            </div>
        </div>
    </div>



    <script type="text/javascript">

        function loadApp() {

            // Create the flipbook

            $('.flipbook').turn({
                // Width

                display: "single",

                 //Elevation

                //elevation: 50,

                // Enable gradients

                //gradients: true,

                // Auto center this flipbook

                autoCenter: true

            });
        }

        // Load the HTML4 version if there's not CSS transform

        //yepnope({
        //    test: Modernizr.csstransforms,
        //    yep: ['../../lib/turn.js'],
        //    nope: ['../../lib/turn.html4.min.js'],
        //    both: ['css/basic.css'],
        //    complete: loadApp
        //});
        loadApp();
    </script>

</body>
</html>