﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @*<script src="~/turnjs4/extras/jquery.min.1.7.js"></script>*@
    <link href="~/turnjs4/samples/basic/css/basic.css" rel="stylesheet" />
    <script type="text/javascript" src="~/turnjs4/extras/jquery.min.1.7.js"></script>
    <script src="~/turnjs4/lib/turn.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/modernizr.2.5.3.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/lib/hash.js"></script>
    <style>
        body{
            margin: 0;
        }
        iframe {
            display: block; /* iframes are inline by default */
            background: #000;
            border: none; /* Reset default border */
            height: 100vh; /* Viewport-relative units */
            width: 100vw;
        }
    </style>
    @*<script src="~/turnjs4/samples/basic/js/basic.js"></script>*@
</head>
<body>
    @RenderBody()
</body>
</html>