﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @*<script src="~/turnjs4/extras/jquery.min.1.7.js"></script>*@
    <link href="~/turnjs4/samples/basic/css/basic.css" rel="stylesheet" />
    <link href="~/slick-1.8.1/slick/slick.css" rel="stylesheet" />
    <link href="~/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="~/turnjs4/extras/jquery.min.1.7.js"></script>
    <script src="~/turnjs4/lib/turn.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/jquery-ui-1.8.20.custom.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/extras/modernizr.2.5.3.min.js"></script>
    <script type="text/javascript" src="~/turnjs4/lib/hash.js"></script>
    <script src="~/slick-1.8.1/slick/slick.js"></script>


    @*<script src="~/turnjs4/samples/basic/js/basic.js"></script>*@
</head>
<body>

    <div class="slideshow-container">

        @RenderBody();
        <!-- Full-width images with number and caption text -->
        
    </div>
    <br>

    <!-- The dots/circles -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slideshow-container').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true
            });
        })
    </script>



   

</body>
</html>